@{
    ViewBag.Title = "Cart";
    Layout = "~/Themes/default/Views/Shared/_Layout.cshtml";
    int count = 0;
    int total_quantity = 0;
    int total_val = 0;
    string allCartItem="[{product_id:-1,quantity:-1}";
}
<!---JQuery Spinner.js-->
@*<script type="text/javascript" src="/Content/themes/pthg/js/jquery.spinner.js"></script>*@
@*<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-1.12.4.js"></script>*@
<script type="text/javascript" src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places&region=vn&language=vi" type="text/javascript"></script>
<script src="/Scripts/jquery.geocomplete.min.js"></script>
<div id="map-canvas" style="display: none;">
    Bản đồ
</div>
<script type="text/javascript" src="/Scripts/jquery.number.min.js"></script>
<div class="cp-inner-banner2" style="height:50px;">
    <div class="container2">
        <div class="cp-inner-banner-outer2" style="color:black;">
            <h2 style="color:black;">Giỏ Hàng Sản Phẩm</h2>
            <!--Breadcrumb Start-->
            <ul class="breadcrumb2">
                <li><a href="#">Trang Sản Phẩm</a></li>
                <li class="active">Chi Tiết</li>
            </ul><!--Breadcrumb End-->
        </div>
    </div>
</div>
<!-- Main Content Start -->
<section class="cp-main-content">
    <!--Product Section Start-->
    <section class="cp-product-section_v2 pd-tb100" style="padding-bottom: 0px;padding: 0px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--Form Box Start-->
                    <div class="cp-form-box">
                        <h3>Thông tin khách hàng</h3>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="inner-holder">
                                        <input type="text" placeholder="Họ Tên" name="customer_name" id="customer_name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="inner-holder">
                                        <input type="text" placeholder="email" name="customer_email" id="customer_email">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="inner-holder">
                                        <input type="text" placeholder="số điện thoại" name="customer_phone" id="customer_phone">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="inner-holder">
                                        <input type="text" placeholder="địa chỉ nhận hàng" name="customer_address" id="customer_address" onblur="getPriceShip();" value="@ViewBag.address">
                                        <input name="lon" id="lon" type="hidden" value="@ViewBag.lon">
                                        <input name="lat" id="lat" type="hidden" value="@ViewBag.lat">
                                    </div>
                                </div>
                            </div>
                    </div><!--Form Box End-->
                </div>
            </div>
        </div>
    </section>
    <!--Cart Section Start-->
    <section class="cp-cart-section pd-tb100">
        <div class="container">
            <!--Cart Inner Holder Start-->
            @*<div class="cp-cart-inner">
                <p class="first">RIDER ipsum dolor sit amet, consectetuer adipiscing elitSuspendisse et justo. Praesent mattis commodo augue Aliquam Praesent mattis.</p>
                <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orci. Aenean arcu tortor, suscipit vitae, hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum.</p>
            </div>*@
            <!--Cart Table Row Start-->
            <div class="cart-table-row">
                <div class="woocommerce">
                    @if (ViewBag.list != null)
                    { 
                    <form method="get">
                        <input id="session" name="session" value="@ViewBag.session" type="hidden"/>
                        <table class="cp-shop_table">
                            <thead>
                                <tr>
                                    <th class="product-remove"></th>
                                    <th class="product-thumbnail">Sản phẩm</th>
                                    <th class="product-price">Giá</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-subtotal">Tổng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.list) {
                                    double total = double.Parse(item.product_price.ToString()) * double.Parse(item.quantity.ToString());
                                    count++;
                                    total_quantity += item.quantity;
                                    total_val += item.quantity * item.product_price;
                                    allCartItem += ",{ product_id: " + item.product_id + ", quantity: " + item.quantity+"}";
                                    <tr class="cart_item" id="row_@count">
                                        <td class="product-remove">
                                            <a href="#" onclick="removeCartProduct('@item.product_id',@count);"><i class="fa fa-trash"></i></a>
                                            <input name="product_id_@count" id="product_id_@count" type="hidden" value="@item.product_id">
                                        </td>
                                        <td class="product-thumbnail">
                                            <a href="#"><img src="@item.product_photos" alt="" style="height:50px;width:50px;"></a>
                                            <span>@item.product_name</span>
                                            <input name="product_photos_@count" id="product_photos_@count" type="hidden" value="@item.product_photos">
                                            <input name="product_name_@count" id="product_name_@count" type="hidden" value="@item.product_name">
                                        </td>
                                        <td class="product-price" id="price_@count">
                                            @String.Format("{0:n0}", @item.product_price)
                                            <input name="product_price_@count" id="product_price_@count" type="hidden" value="@item.product_price">
                                        </td>
                                        <td class="product-quantity">
                                            <div class="input-append spinner" data-trigger="spinner">
                                                @*<span class="spin-down" data-spin="down" ><i class="fa fa-minus" ></i></span>
                                                <input type="text" value="@item.quantity" data-rule="quantity" id="quantity_@count" >
                                                <span class="spin-up" data-spin="up" ><i class="fa fa-plus" ></i></span>*@
                                                <select id="quantity_@count" onchange="calculate();">
                                                    @for (var i = 1; i <= 100; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                                <script>
                                                    $("#quantity_@count").val(@item.quantity);
                                                </script>
                                            </div>
                                        </td>
                                        <td class="product-subtotal" id="total_@count">
                                            @String.Format("{0:n0}", @total)
                                        </td>
                                    </tr>
                                }
                                @{allCartItem += "]";}
                                <tr class="cart_item">
                                    <td class="product-remove">
                                        
                                    </td>
                                    <td class="product-thumbnail">
                                        
                                    </td>
                                    <td class="product-price" id="price_@count">
                                        Tổng số lượng
                                    </td>
                                    <td class="product-thumbnail"  id="quantity_final" >
                                        @String.Format("{0:n0}", @total_quantity)
                                    </td>
                                    <td class="product-subtotal" id="total_final" >@String.Format("{0:n0}", @total_val)</td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-remove"></td>
                                    <td class="product-thumbnail"></td>
                                    <td class="product-price">
                                        <span onclick="getPriceShip()" style="cursor:pointer;"><b>Tính chi phí ship</b>:(Nhập chính xác địa chỉ nhận hàng)<img src="~/images/cal.png" style="width:32px;height:32px;"/></span>
                                    </td>
                                    <td class="product-thumbnail" id="ship_kg"><span style="color:red">Bạn chưa nhập địa chỉ nhận hàng</span></td>
                                    <td class="product-subtotal" id="ship_fee"></td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="product-remove"></td>
                                    <td class="product-thumbnail"></td>
                                    <td class="product-price">
                                    </td>
                                    <td class="product-thumbnail" >Tổng tiền:</td>
                                    <td class="product-subtotal" id="all_fee">Đang tính...</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    }
                    <!--Cart Bottom Holder Start-->
                    <div class="cp-cart-bottom">
                        @*<span class="icon-cart icomoon"></span>*@
                        <h3 id="_total_quantity_">Có tổng số @count sản phẩm với @total_quantity số lượng trong giỏ hàng</h3>
                        <input type="button" class="cp-btn-style1" value="Đặt Hàng" onclick="submitOrder();" id="btnSubmitOrder">
                    </div><!--Cart Bottom Holder End-->
                </div>
            </div><!--Cart Table Row End-->
        </div>
    </section><!--Cart Section End-->
</section>
<script>
    var allCartItem="@allCartItem";
    function calculate() {
        //alert("ok1");
        var count=@count;
        var total_quantity=0;
        var total_money=0;
        allCartItem="[{product_id:-1,quantity:-1}";
        for(var i=1;i<=count;i++){
            var temp1=parseInt(document.getElementById("quantity_"+i).value);
            //alert(i+":"+temp1);
            total_quantity+=temp1;
            var temp2=parseInt(document.getElementById("price_"+i).innerHTML.replace(/,/g,''));
            var temp3=temp2*temp1;
            $("#total_"+i).html(formatDollar(temp3));
            //alert(i+":"+temp2);
            total_money+=temp3;
            var item = ",{product_id:"+ document.getElementById("product_id_"+i).value+", quantity: "+document.getElementById("quantity_"+i).value+"}";
            allCartItem+=item;
        }
        allCartItem+="]";
        $("#quantity_final").html(formatDollar(total_quantity));
        $("#total_final").html(formatDollar(total_money));
        var lon2=$("#lon").val();
        var lat2=$("#lat").val();
        var address= $("#customer_address").val();
        if (address!="" && lon2!=""){
            getPriceShip();
        }
    }
    function submitOrder(){
        var customer_address= $("#customer_address").val();
        var customer_name=$("#customer_name").val();
        var customer_email=$("#customer_email").val();
        var customer_phone=$("#customer_phone").val();
        var lon=$("#lon").val();
        var lat=$("#lat").val();
        if (customer_address=="" || lon==""){
            document.getElementById("customer_address").focus();
            window.scrollTo(0, 0);
            return;
        }
        if (customer_name==""){
            document.getElementById("customer_name").focus();
            window.scrollTo(0, 0);
            return;
        }
        if (customer_email==""){
            document.getElementById("customer_email").focus();
            window.scrollTo(0, 0);
            return;
        }
        if (customer_phone==""){
            document.getElementById("customer_phone").focus();
            window.scrollTo(0, 0);
            return;
        }
        var count=@count;
        var total_quantity=0;
        var total_money=0;
        var session=document.getElementById("session").value;
        var ship_kg=parseInt(document.getElementById("ship_kg").innerText.replace(/,/g , "").replace(/,/g , ""));
        var ship_fee=parseInt(document.getElementById("ship_fee").innerText.replace(/,/g , "").replace(/,/g , ""));
        var total_fee=parseInt(document.getElementById("all_fee").innerText.replace(/,/g , "").replace(/,/g , ""));
        allCartItem="[{product_id:-1,quantity:-1}";
        for(var i=1;i<=count;i++){
            var item1=parseInt(document.getElementById("product_id_"+i).value);
            var item2=document.getElementById("product_photos_"+i).value;
            var item3=document.getElementById("product_name_"+i).value;
            var item4=parseInt(document.getElementById("product_price_"+i).value);
            var item5=parseInt(document.getElementById("quantity_"+i).value);
            var item6=parseInt(document.getElementById("total_"+i).innerText.replace(/,/g , "").replace(/,/g , ""));
            var item = ",{product_id:"+ item1+", product_photos: '"+item2+"', product_name: '"+item3+"', product_price: "+item4+", quantity: "+item5+", product_total: "+item6+"}";
            allCartItem+=item;
        }
        allCartItem+="]";
        //alert(allCartItem);
        if (confirm("Xác nhận đặt hàng")==true){
            document.getElementById("btnSubmitOrder").value="Đang xử lý đơn hàng xin đợi...";
            //document.getElementById("btnSubmitOrder").disabled=true;
            //alert("data=" + allCartItem+"&session="+session+"&g="+ship_kg+"&ship_fee="+ship_fee);//+"&session="+session+"&g="+ship_kg+"&ship_fee="+ship_fee+"&total_fee="+total_fee+"&customer_address="+customer_address+"&customer_name="+customer_name+"&customer_email="+customer_email+"&customer_phone="+customer_phone+"&lon="+lon+"&lat="+lat
            var formdata = new FormData();
            //$.ajax({
            //    url: '/Products/submitOrder',
            //    type: 'POST',
            //    datatype: 'text',
            //    data: "data=" + allCartItem+"&session="+session+"&g="+ship_kg+"&ship_fee="+ship_fee+"&total_fee="+total_fee+"&customer_address="+customer_address+"&customer_name="+customer_name+"&customer_email="+customer_email+"&customer_phone="+customer_phone+"&lon="+lon+"&lat="+lat,
            //    success: function (data) {
            //        if (data != "0") {
            //            window.location.href="/Products/CartStep2?session"+data;
            //            //window.location.reload();
            //        };
            //    },
            //    error: function (jqXHR, exception) {
            //        alert(exception.toString());
            //        document.getElementById("btnSubmitOrder").disabled=false;
            //    }
            //});
            //alert(allCartItem+'-'+session+'-'+ship_kg+'-'+ship_fee+'-'+total_fee+'-'+customer_address+'-'+customer_name+'-'+customer_email+'-'+customer_phone+'-'+lon+'-'+lat);//+customer_address+customer_name+customer_email+customer_phone+lon+lat
            //return;
            formdata.append("data", allCartItem);
            formdata.append("session", session);
            formdata.append("g", ship_kg);
            formdata.append("ship_fee", ship_fee);
            formdata.append("total_fee", total_fee);
            formdata.append("customer_address", customer_address);
            formdata.append("customer_name", customer_name);
            formdata.append("customer_email", customer_email);
            formdata.append("customer_phone", customer_phone);
            formdata.append("lon", lon);
            formdata.append("lat", lat);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Products/submitOrder');
            xhr.send(formdata);
            var content = "";
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    if (xhr.responseText != "0") {
                        window.location.href="/Products/CartStep2?session"+xhr.responseText;
                    }else{
                        alert("Có lỗi!");
                       document.getElementById("btnSubmitOrder").disabled=false;
                    }
                }
            }
            
        }
    }
    function formatDollar(num) {
        var p = num.toFixed(2).split(".");
        return p[0].split("").reverse().reduce(function(acc, num, i, orig) {
            return  num=="-" ? acc : num + (i && !(i % 3) ? "," : "") + acc;
        }, "");// + "." + p[1]
    }
    function removeCartProduct(product_id,index){
        if (confirm("Xác nhận xóa")==true){
            $.ajax({
                url: '/Products/removeCartProduct',
                type: 'POST',
                datatype: 'text',
                data: "product_id=" + product_id,
                success: function (data) {
                    if (data == "1") {
                        window.location.href="/Products/Cart?lon=@ViewBag.lon&lat=@ViewBag.lat&address=@ViewBag.address";
                        //window.location.reload();
                    };
                },
                error: function (jqXHR, exception) {
                    alert(exception.toString());
                }
            });
        }
    }
    function getPriceShip(){
        var lon2=$("#lon").val();
        var lat2=$("#lat").val();
        var address= $("#customer_address").val();
        var type=0;
        if (address.indexOf("Hồ Chí Minh")>=0 || address.indexOf("Ho Chi Minh")>=0)
            type=3;
        else if (address.indexOf("Đà Nẵng")>=0 || address.indexOf("Da Nang")>=0) type=2;
        else if (address.indexOf("Ha Noi")>=0 || address.indexOf("Hà Nội")>=0) type=1;
        $("#ship_kg").html("<img src='/images/loader.gif'>Đang tính trọng lượng...");
        $("#ship_fee").html("<img src='/images/loader.gif'>Đang tính phí ship...");
        $.ajax({
            url: '/Products/getPriceShip',
            type: 'POST',
            datatype: 'text',
            data: "lon1=105.8194541&lat1=21.0227431&lon2="+lon2+"&lat2="+lat2+"&type="+type+"&data="+allCartItem,
            cache: false,
            success: function (data) {

                if (data != "0") {
                    var rs=data.split("_");
                    var kg=parseFloat(rs[0]);
                    var price=parseFloat(rs[1]);
                    var total_final=parseFloat(document.getElementById("total_final").innerText.replace(/,/g , "").replace(/,/g , ""));
                    //alert(total_final);
                    var all_fee=total_final+price;
                    //alert(all_fee);
                    //alert(price);
                    $("#ship_kg").html(formatDollar(kg)+" g");
                    $("#ship_fee").html(formatDollar(price)+" vnd");
                    $("#all_fee").html(formatDollar(all_fee)+" vnd");                    
                };
            },
            error: function (jqXHR, exception) {
                alert(exception.toString());
            }
        });
    }
    var options = {
        map: "#map-canvas"
    };
    $("#customer_address").geocomplete(options)
      .bind("geocode:result", function (event, result) {
          $("#lat").val(result.geometry.location.lat());
          $("#lon").val(result.geometry.location.lng());
          //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
      })
  .bind("geocode:error", function (event, status) {
      $.log("ERROR: " + status);
  })
  .bind("geocode:multiple", function (event, results) {
      $.log("Multiple: " + results.length + " results found");
  });
    //lat: 21.0227431, lng: 105.8194541
</script>