@{
    ViewBag.Title = "Cart";
    Layout = "~/Themes/default/Views/Shared/_Layout.cshtml";
    int count = 0;
    int total_quantity = 0;
    int total_val = 0;
}
<!---JQuery Spinner.js-->
<script type="text/javascript" src="/Content/themes/pthg/js/jquery.spinner.js"></script>
@*<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-1.12.4.js"></script>*@
<script type="text/javascript" src="~/Scripts/jquery-1.12.4.min.js"></script>
@*<script type="text/javascript" src="http://www.teamdf.com/jquery-plugins/resources/javascripts/prettify.js"></script>
<script type="text/javascript" src="http://www.teamdf.com/jquery-plugins/resources/javascripts/docs.js"></script>
<link rel="stylesheet" href="http://www.teamdf.com/jquery-plugins/resources/stylesheets/prettify.css" />
<link rel="stylesheet" href="http://www.teamdf.com/jquery-plugins/resources/stylesheets/docs.css" />*@
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places&region=vn&language=vi" type="text/javascript"></script>
<script src="/Scripts/jquery.geocomplete.min.js"></script>
<div id="map-canvas" style="display: none;">
    Bản đồ
</div>
<script type="text/javascript" src="/Scripts/jquery.number.min.js"></script>
<div class="cp-inner-banner2" style="height:50px;">
    <div class="container2">
        <div class="cp-inner-banner-outer2" style="color:black;">
            <h2 style="color:black;">Giỏ Hàng Sản Phẩm</h2>
            <!--Breadcrumb Start-->
            <ul class="breadcrumb2">
                <li><a href="#">Trang Sản Phẩm</a></li>
                <li class="active">Chi Tiết</li>
            </ul><!--Breadcrumb End-->
        </div>
    </div>
</div>
<!-- Main Content Start -->
<section class="cp-main-content">
    <!--Product Section Start-->
    <section class="cp-product-section_v2 pd-tb100" style="padding-bottom: 0px;padding: 0px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--Form Box Start-->
                    <div class="cp-form-box">
                        <h3>Thông tin khách hàng</h3>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="inner-holder">
                                        <input type="text" placeholder="Họ Tên" name="customer_name" id="customer_name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="inner-holder">
                                        <input type="text" placeholder="email" name="customer_email" id="customer_email">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="inner-holder">
                                        <input type="text" placeholder="số điện thoại" name="customer_phone" id="customer_phone">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="inner-holder">
                                        <input type="text" placeholder="địa chỉ nhận hàng" name="customer_address" id="customer_address">
                                        <input name="lon" id="lon" type="hidden" value="@ViewBag.lon">
                                        <input name="lat" id="lat" type="hidden" value="@ViewBag.lat">
                                    </div>
                                </div>
                            </div>
                    </div><!--Form Box End-->
                </div>
            </div>
        </div>
    </section>
    <!--Cart Section Start-->
    <section class="cp-cart-section pd-tb100">
        <div class="container">
            <!--Cart Inner Holder Start-->
            @*<div class="cp-cart-inner">
                <p class="first">RIDER ipsum dolor sit amet, consectetuer adipiscing elitSuspendisse et justo. Praesent mattis commodo augue Aliquam Praesent mattis.</p>
                <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orci. Aenean arcu tortor, suscipit vitae, hendrerit condimentum, dapibus ac, nulla. Curabitur sit consectetuer ipsum.</p>
            </div>*@
            <!--Cart Table Row Start-->
            <div class="cart-table-row">
                <div class="woocommerce">
                    @if (ViewBag.list != null)
                    { 
                    <form method="get">
                        <table class="cp-shop_table">
                            <thead>
                                <tr>
                                    <th class="product-remove"></th>
                                    <th class="product-thumbnail">Sản phẩm</th>
                                    <th class="product-price">Giá</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-subtotal">Tổng</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.list) {
                                    double total = double.Parse(item.product_price.ToString()) * double.Parse(item.quantity.ToString());
                                    count++;
                                    total_quantity += item.quantity;
                                    total_val += item.quantity * item.product_price;
                                    <tr class="cart_item" id="row_@count">
                                        <td class="product-remove">
                                            <a href="#" onclick="removeCartProduct('@item.product_name',@count);"><i class="fa fa-trash"></i></a>
                                        </td>
                                        <td class="product-thumbnail">
                                            <a href="#"><img src="@item.product_photos" alt="" style="height:50px;width:50px;"></a>
                                            <span>@item.product_name</span>
                                        </td>
                                        <td class="product-price" id="price_@count">
                                            @String.Format("{0:n0}", @item.product_price)
                                        </td>
                                        <td class="product-quantity">
                                            <div class="input-append spinner" data-trigger="spinner">
                                                @*<span class="spin-down" data-spin="down" ><i class="fa fa-minus" ></i></span>
                                                <input type="text" value="@item.quantity" data-rule="quantity" id="quantity_@count" >
                                                <span class="spin-up" data-spin="up" ><i class="fa fa-plus" ></i></span>*@
                                                <select id="quantity_@count" onchange="calculate();">
                                                    @for (var i = 1; i <= 100; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                                <script>
                                                    $("#quantity_@count").val(@item.quantity);
                                                </script>
                                            </div>
                                        </td>
                                        <td class="product-subtotal" id="total_@count">
                                            @String.Format("{0:n0}", @total)
                                        </td>
                                    </tr>
                                }
                                <tr class="cart_item">
                                    <td class="product-remove">
                                        
                                    </td>
                                    <td class="product-thumbnail">
                                        
                                    </td>
                                    <td class="product-price" id="price_@count">
                                        Tổng số lượng:
                                    </td>
                                    <td class="product-thumbnail"  id="quantity_final" >
                                        @String.Format("{0:n0}", @total_quantity)
                                    </td>
                                    <td class="product-subtotal" id="total_final" >@String.Format("{0:n0}", @total_val)</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    }
                    <!--Cart Bottom Holder Start-->
                    <div class="cp-cart-bottom">
                        @*<span class="icon-cart icomoon"></span>*@
                        <h3>Có tổng số @count sản phẩm với @total_quantity số lượng trong giỏ hàng</h3>
                        <a href="/" class="cp-btn-style1">Trang chủ</a>
                    </div><!--Cart Bottom Holder End-->
                </div>
            </div><!--Cart Table Row End-->
        </div>
    </section><!--Cart Section End-->
</section>
<script>
    function calculate() {
        //alert("ok1");
        var count=@count;
        var total_quantity=0;
        var total_money=0;
        for(var i=1;i<=count;i++){
            var temp1=parseInt(document.getElementById("quantity_"+i).value);            
            //alert(i+":"+temp1);
            total_quantity+=temp1;
            var temp2=parseInt(document.getElementById("price_"+i).innerHTML.replace(/,/g,''));
            var temp3=temp2*temp1;            
            $("#total_"+i).html(formatDollar(temp3));
            //alert(i+":"+temp2);
            total_money+=temp3;
        }
        //alert(total_quantity+"-"+total_money);
        $("#quantity_final").html(formatDollar(total_quantity));
        $("#total_final").html(formatDollar(total_money));
        //$("#quantity_final").html().number(true,2);
        //alert("12123".toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
        //alert(formatDollar(total_money));
        //$("#price_1").number( true, 2 );
    }
    //$("#spinner")
    //  .spinner('delay', 200) //delay in ms
    //  .spinner('changed', function(e, newVal, oldVal) {
    //      // trigger lazed, depend on delay option.
    //      calculate();
    //  })
    //  .spinner('changing', function(e, newVal, oldVal) {
    //      // trigger immediately
    //  });
    function formatDollar(num) {
        var p = num.toFixed(2).split(".");
        return p[0].split("").reverse().reduce(function(acc, num, i, orig) {
            return  num=="-" ? acc : num + (i && !(i % 3) ? "," : "") + acc;
        }, "");// + "." + p[1]
    }
    function removeCartProduct(product_name,index){
        if (confirm("Xác nhận xóa")==true){
            $.ajax({
                url: '/Products/removeCartProduct',
                type: 'POST',
                datatype: 'text',
                data: "product_name=" + product_name,
                success: function (data) {
                    if (data == "1") {
                        window.location.reload();
                    };
                },
                error: function (jqXHR, exception) {
                    alert(exception.toString());
                }
            });
        }
    }
    var options = {
        map: "#map-canvas"
    };
    $("#customer_address").geocomplete(options)
      .bind("geocode:result", function (event, result) {
      $("#lat").val(result.geometry.location.lat());
      $("#lon").val(result.geometry.location.lng());
      //alert("long" + result.geometry.location.lng() + ", lat=" + result.geometry.location.lat());
  })
  .bind("geocode:error", function (event, status) {
      $.log("ERROR: " + status);
  })
  .bind("geocode:multiple", function (event, results) {
      $.log("Multiple: " + results.length + " results found");
  });
</script>