@using tbcng.Models
@model product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Themes/default/Views/Shared/_Layout.cshtml";
}
<!---PrettyPhoto CSS-->
<link href="~/Content/themes/pthg/css/prettyPhoto.css" rel="stylesheet">
<!---Owl Carousel CSS-->
<link href="~/Content/themes/pthg/css/owl.carousel.css" rel="stylesheet">
<!---Bx Slider CSS-->
<link href="~/Content/themes/pthg/css/jquery.bxslider.css" rel="stylesheet">
@section metatags {
    <meta name="description" content="@Html.Raw(Model.product_des)">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="index,follow,noodp">
    <meta property="fb:app_id" content="1786487814945420" />
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="Chi tiết sản phẩm">
    <meta property="og:url" content="@ViewBag.url">
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)">
    <meta property="og:description" content="@Html.Raw(Model.product_des)">
    <meta property="og:image" itemprop="thumbnailUrl" content="@Model.product_photo">
}
<div class="cp-inner-banner2" style="height:50px;">
    <div class="container2">
        <div class="cp-inner-banner-outer2" style="color:black;">
            <h2 style="color:black;">@Model.product_name</h2>
            <!--Breadcrumb Start-->
            <ul class="breadcrumb2">
                <li><a href="#">Trang Sản Phẩm</a></li>
                <li class="active">Chi Tiết</li>
            </ul><!--Breadcrumb End-->
        </div>
    </div>
</div>
<!-- Main Content Start -->
<div class="cp-main-content">

    <!--Product Section Start-->
    <section class="cp-product-section_v2 pd-tb100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--Product Detail Info Start-->
                    <div class="cp-pro-detail-info">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                @{Html.RenderAction("LoadPhotoProduct2", "Products", new { id = @Model.product_id });}
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="cp-text">
                                    <div class="cp-top">
                                        <h3>@Model.product_name</h3>
                                        <span class="cp-rating">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </span>
                                        <span class="total">Mã sản phẩm # @Model.product_id</span>
                                    </div>
                                    <p class="first">@Model.product_des</p>
                                    @*<p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orci.</p>*@
                                    <ul class="items-list">
                                        <li>Dài @Model.l (cm)<i class="fa fa-check-circle" aria-hidden="true"></i></li>
                                        <li>Rộng @Model.w (cm)<i class="fa fa-check-circle" aria-hidden="true"></i></li>
                                        <li>Cao @Model.h (cm)<i class="fa fa-check-circle" aria-hidden="true"></i></li>
                                        <li>Nặng @Model.g (g)<i class="fa fa-check-circle" aria-hidden="true"></i></li>
                                    </ul>
                                    <strong class="price">@String.Format("{0:n0}", @Model.product_price_public) đồng</strong>
                                    <ul class="categories-list">
                                        <li>Danh Mục : <span>@ViewBag.cat</span></li>
                                        <li>
                                            Chia sẻ link :
                                            <span class="cp-social-links">
                                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                            </span>
                                        </li>
                                    </ul>
                                    <a href="#" class="cp-btn-style1">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div><!--Product Detail Info End-->
                    <!--Product Tab Box Start-->
                    <div class="cp-tab-box cp-tab-box2">
                        <ul class="nav nav-tabs" role="tablist">
                            <li ><a href="#cp_tab1" role="tab" data-toggle="tab">Thông tin sản phẩm</a></li>
                            @*<li><a href="#cp_tab2" role="tab" data-toggle="tab">Events Performer</a></li>
                            <li class="active"><a href="#cp_tab3" role="tab" data-toggle="tab">Thông tin thêm</a></li>*@
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active fade in" id="cp_tab1">
                                <div class="cp-tab-info-box">
                                    @Html.Raw(@Model.product_content)
                                </div>
                            </div>
                            @*<div class="tab-pane fade" id="cp_tab2">
                                <div class="cp-tab-info-box">
                                    <div class="cp-tab-text">
                                        <p class="first">@Model.product_content</p>
                                    </div>
                                </div>

                            </div>*@
                            @*<div class="class=" tab-pane active fade in"" id="cp_tab3">
                                <div class="cp-tab-info-box">
                                    <div class="cp-tab-text">
                                        <p class="first">@Html.Raw(@Model.product_content)</p>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div><!--Product Tab Box End-->
                    @*<!--Form Box Start-->
                    <div class="cp-form-box">
                        <h3>Leaves Review</h3>
                        <form action="form3.php" method="post">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="inner-holder">
                                        <input type="text" placeholder="Your Name" name="name2" required pattern="[a-zA-Z ]+">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="inner-holder">
                                        <input type="text" placeholder="Your Email" name="email2" >
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="inner-holder">
                                        <input type="text" placeholder="Subject" required>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="inner-holder">
                                        <textarea placeholder="Comments" name="comment2" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="inner-holder cp-btn-holder">
                                        <button type="submit" class="cp-btn-style1 btn-submit" value="Submit" name="submit2">Submit Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!--Form Box End-->*@
                    <!--Product Slider Outer Start-->
                    <div class="cp-product-slider-outer">
                        <h3>Sản Phẩm Liên Quan</h3>
                        @{Html.RenderAction("LoadRelateProduct", "Products", new { cat_id = @Model.cat_id,product_id=@Model.product_id });}
                    </div>
                    <!--Product Slider Outer End-->

                </div>
            </div>
        </div>

    </section><!--Product Section End-->

</div>
<!-- Main Content End --> 

<script src="~/Content/themes/pthg/js/jquery.prettyPhoto.js"></script>
<!---Countdown.js-->
<script src="~/Content/themes/pthg/js/jquery.countdown.min.js"></script>