@model PagedList.IPagedList<tbcng.Models.product>
@using PagedList.Mvc;
@{
    ViewBag.Title = ViewBag.catname;
    Layout = "~/Themes/default/Views/Shared/_Layout.cshtml";
}
<script src="/Scripts/jquery-ui.js"></script>
@*<link rel="stylesheet" href="/Scripts/slider.css">
<script src="/Scripts/bootstrap-slider.js"></script>*@
<script>
    function autosearch() {
        var urlSearch = '/Products/autosearch?keyword=';
        $('#search').autocomplete({
            source: urlSearch + $("#search").val(),
            select: function (event, ui) {
                $(event.target).val(ui.item.value);
                return false;
            },
            minLength: 1
        });
    }
    function search() {
        var source = $("#search").val();
        var order = $("#order").val();
        var pf = $("#pf").val();
        var pt = $("#pf").find(':selected').attr('pt');
        if (source == "") {
            //alert("Nhập từ khóa");
            //return;
            source = "all";
        }
        var urlSearch = "/san-pham/all-0/" + source + "-" + pf + "-" + pt + "-1-" + order;
        window.location.href = urlSearch;
        
    }
</script>
<!-- Main Content Start -->
<div class="cp-main-content">

    <!--Product Section Start-->
    <section class="cp-product-section cp-product-section_v4 pd-tb100">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <!--Show Result Outer Start-->                    
                    <div class="cp-show-result-outer">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <input type="text" placeholder="gõ từ khóa tìm kiếm" value="" id="search" class="form-control" style="height:37px;" onkeyup="autosearch();" autocomplete="off" />
                            </div>
                            <div class="col-md-3">
                                <select id="order" onchange="search();" style="width:150px;">
                                    <option value="1">Giá tăng dần</option>
                                    <option value="2">Giá giảm dần</option>
                                    @*<option value="3">Cũ nhất</option>*@
                                    <option value="4">Mới cập nhật</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select id="pf" onchange="search();" style="width:180px;">
                                    <option value="0" pt="500000" selected>Từ 0 đến 500.000 đồng</option>
                                    <option value="500000" pt="1000000">Từ 500.000 đến 1.000.000 đồng</option>
                                    <option value="1000000" pt="2000000">Từ 1.000.000 đến 2.000.000 đồng</option>
                                    <option value="2000000" pt="4000000">Từ 2.000.000 đến 4.000.000 đồng</option>
                                    <option value="4000000" pt="6000000">Từ 4.000.000 đến 6.000.000 đồng</option>
                                    <option value="6000000" pt="8000000">Từ 6.000.000 đến 8.000.000 đồng</option>
                                    <option value="8000000" pt="10000000">Từ 8.000.000 đến 10.000.000 đồng</option>
                                    <option value="10000000" pt="20000000">Từ 10.000.000 đến 20.000.000 đồng</option>
                                    <option value="20000000" pt="30000000">Từ 20.000.000 đến 30.000.000 đồng</option>
                                </select>
                                <script>
                                    document.getElementById("order").value = "@ViewBag.order";
                                    document.getElementById("pf").value = "@ViewBag.pf";
                                </script>
                            </div>
                            <div class="col-md-3">
                                <!-- Nav tabs Start -->
                                @*<ul class="nav nav-tabs" role="tablist">
                                    <li class="active">
                                        <a href="#tab-01" aria-controls="tab-01" role="tab" data-toggle="tab"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="#tab-02" aria-controls="tab-02" role="tab" data-toggle="tab"><i class="fa fa-list" aria-hidden="true"></i></a></li>
                                </ul>*@
                                <input type="button" value="Tìm Kiếm" onclick="search();" class="btn btn-info" style="height:36px;margin-left:15px;" />
                            </div>
                        </div>
                        @*<span class="showing">Hiển thị 1–25 của Model.Count kết quả</span>*@      
                        @*<div class="right-outer" style="padding-bottom:15px;margin-bottom:15px;">
                            <input type="button" value="Tìm Kiếm" onclick="search();" class="btn-book" style="height:36px;margin-left:15px;" />
                        </div>*@                  
                        
                    </div><!--Show Result Outer End-->
                    @*<div class="cp-show-result-outer">
                        <div class="widget widget-range-slider">
                            <h3>Filter By Price</h3>
                            <div class="cp-range-slider-holder">
                                <div id="cp-range-slider"></div>
                                <p>
                                    <span>Range</span>
                                    <input type="text" id="amount">
                                    <span class="cp-filter">Filter</span>
                                </p>
                            </div>
                        </div>
                    </div>*@
                    <div class="cp-tabs-holder">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab-01">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        var link = "/san-pham/" + tbcng.Helpers.configs.getcatname(item.cat_id) + "/" + tbcng.Helpers.configs.unicodeToNoMark(item.product_name) + "-" + item.product_id;
                                    <div class="col-md-4 col-sm-4" style="min-height:300px;">
                                        <!--Product Item Start-->
                                        <div class="cp-pro-item">
                                            <div class="cp-pro-img">
                                                <img src="http://lopnhanh.net/@item.product_photo" alt="@item.product_name" style="border:1px solid #808080;">
                                            </div>
                                            <div class="cp-text" style="min-height:160px;">
                                                <h4 style="min-height:60px;"><a href="@link">@item.product_name</a></h4>
                                                <small class="small">@tbcng.Helpers.configs.getcatname(item.cat_id)</small>
                                                <span class="pro-price">@String.Format("{0:n0}", @item.product_price_public)</span>
                                                <ul class="cp-pro-meta">
                                                    <li class="pro-cart"><a href="#" onclick="addToCart(@item.product_id);"><span class="icon-shopping-cart icomoon"></span></a></li>
                                                    <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </div>
                                        </div><!--Product Item End-->
                                    </div>
                                    }
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-02">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        var link = "/san-pham/" + tbcng.Helpers.configs.getcatname(item.cat_id) + "/" + tbcng.Helpers.configs.unicodeToNoMark(item.product_name) + "-" + item.product_id;
                                        <div class="col-md-12 col-sm-12">
                                            <!--Product Item Start-->
                                            <div class="cp-pro-item cp-pro-list-item">
                                                <div class="cp-pro-img">
                                                    <img src="http://lopnhanh.net/@item.product_photo" alt="@item.product_name" style="border:1px solid #808080;">
                                                </div>
                                                <div class="cp-text">
                                                    <h3><a href="@link">@item.product_name</a></h3>
                                                    <small class="small">@tbcng.Helpers.configs.getcatname(item.cat_id)</small>
                                                    <span class="price">@String.Format("{0:n0}", @item.product_price_public)</span>
                                                    <p>@Html.Raw(@item.product_des)</p>
                                                    <ul class="cp-pro-meta">
                                                        <li class="pro-cart"><a href="#" onclick="addToCart(@item.product_id);"><span class="icon-shopping-cart icomoon"></span></a></li>
                                                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div><!--Product Item End-->
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Pagination Row Start-->
                    <div class="cp-pagination-row">
                        <nav>
                            <ul class="pagination">
                                <li><a href="#">Trang</a></li> 
                                @for (int pg = 1; pg <= Model.PageCount; pg++)
                                {
                                    <li><a href="/san-pham/@ViewBag.catname-@ViewBag.cat_id/@ViewBag.search-@ViewBag.pf-@ViewBag.pt-@pg-@ViewBag.order">@pg</a></li>
                                }
                                
                            </ul>
                        </nav>
                    </div><!--Pagination Row End-->
                </div>
                <div class="col-md-3 col-sm-12" style="padding-top:10px;">
                    <!--Sidebar Outer Start-->
                    <aside class="cp-sidebar-outer">
                        <!--Widget Start-->
                        <div class="widget widget-categories" id="allsidebar">
                            <h3>Danh Mục</h3>
                            <ul>
                                <li style="display:block;"><a class="test" tabindex="-1" href="/san-pham/all-0/all-0-0-1-1">Tất Cả</a></li>
                                @Html.Raw(tbcng.Helpers.configs.getAllMenu2())
                            </ul>
                            @*<ul>
                                <li><a href="#">Mauntain Bike</a></li>
                                <li><a href="#">City Bike</a></li>
                                <li><a href="#">Arbun Bike</a></li>
                                <li><a href="#">Propel Advanced</a></li>
                                <li><a href="#">Cross Country</a></li>
                                <li><a href="#">City Road Bike</a></li>
                            </ul>*@
                        </div><!--Widget End-->
                        <!--Widget Start-->
                        @*<div class="widget widget-range-slider">
                            <h3>Filter By Price</h3>
                            <div class="cp-range-slider-holder">
                                <div id="cp-range-slider"></div>
                                <p>
                                    <span>Range</span>
                                    <input type="text" id="amount">
                                    <span class="cp-filter">Filter</span>
                                </p>
                            </div>
                        </div>*@<!--Widget End-->
                        

                    </aside><!--Sidebar Outer End-->
                </div>
            </div>

        </div>
    </section><!--Product Section End-->

</div>
<!-- Main Content End --> 
<script>
    //$("#ex2").slider({});

    //// Without JQuery
    //var slider = new Slider('#ex2', {});
</script>