@model List<tbcng.Models.product>
@if (Model != null)
{
    int count = 0;
    if (Model.Count > 0)
    {
        <div class="row">
            @foreach (var item in Model)
            {
                var link = "/san-pham/" + tbcng.Helpers.configs.getcatname(item.cat_id) + "/" + tbcng.Helpers.configs.unicodeToNoMark(item.product_name) + "-" + item.product_id;
                <div class="col-md-4 col-sm-4" style="min-height:300px;">
                    <!--Product Item Start-->
                    <div class="cp-pro-item">
                        <div class="cp-pro-img">
                            <img src="http://lopnhanh.net/@item.product_photo" alt="@item.product_name" style="border:1px solid #808080;">
                        </div>
                        <div class="cp-text" style="min-height:160px;">
                            <h4 style="min-height:60px;"><a href="@link">@item.product_name</a></h4>
                            <small class="small">@tbcng.Helpers.configs.getcatname(item.cat_id)</small>
                            <span class="pro-price">@String.Format("{0:n0}", @item.product_price_public)</span>
                            <ul class="cp-pro-meta">
                                <li class="pro-cart"><a href="#" onclick="addToCart(@item.product_id);"><span class="icon-shopping-cart icomoon"></span></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div><!--Product Item End-->
                </div>
            }
        </div>
    }
}
