@using tbcng.Models
@model CatVM
@{
    ViewBag.Title = "Sửa danh mục bài viết";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageTitleHeader {
    <div class="page-header">
        <h3><i class="fa fa-list fa-2x fa-color-red"></i> @ViewBag.Title</h3>
    </div>
    @if (TempData["Updated"] != null)
    {
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            @Html.Raw(TempData["Updated"])
        </div>
    }

    @if (TempData["Errored"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            @Html.Raw(TempData["Errored"])
        </div>
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default box box-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Sửa menu <b>@ViewBag.TenCat</b></h3>
            </div>
            @if (Model != null)
            {
                <div class="panel-body">
                    @using (Html.BeginForm("Edit", "Cats", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form", @id = "form-edit-cat" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.cat_id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.cat_name, htmlAttributes: new { @class = "control-label col-md-2 required-after" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.cat_name, htmlAttributes: new { @class = "form-control", placeholder = "Nhập tên danh mục" })
                                @Html.ValidationMessageFor(model => model.cat_name, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.cat_parent_id, htmlAttributes: new { @class = "control-label col-md-2 required-after" })
                            <div class="col-md-8">
                                @Html.HiddenFor(m => m.cat_parent_id)
                                @{ Html.RenderAction("lstCatPartial", "Cats"); }
                                @Html.ValidationMessageFor(model => model.cat_parent_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <script>
                        window.onload = function () {
                            if (document.getElementById('cat_parent_id').value !== "") {
                                document.getElementById('cat_parent').value = document.getElementById('cat_parent_id').value;
                            }
                        }
                        </script>

                        <div class="form-group">
                            @Html.LabelFor(model => model.cat_pos, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.cat_pos, htmlAttributes: new { @class = "form-control", placeholder = "Nhập vị trí danh mục", type = "number" })
                                @Html.ValidationMessageFor(model => model.cat_pos, "", new { @class = "text-danger" })
                            </div>

                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-primary"><i class="fa fa-edit"></i> Cập nhật</button>
                                <span class="btn btn-danger" onclick="gotoUrl('@Url.RouteUrl("AdminDeleteCat", new { id = Model.cat_id })')"><i class="fa fa-trash"></i> Xóa</span>
                            </div>
                        </div>

                    }


                </div>
            }


        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $.validator.setDefaults({
            ignore: []
        });

        $(function () {
            $(document).ready(function () {
                
                // code here this
                $('#cat_parent').on('change', function () {
                    console.log($(this).val());
                    if ($(this).val() !== "") {
                        $('#cat_parent_id').val($(this).val());
                    } else {
                        $('#cat_parent_id').val('');
                    }
                })

            });
        });
    </script>
}
